form {
    max-width: 500px;
    border-radius: 3px;
}

form div {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

form span {
    font-size: 13px;
    padding: 3px 0;
    color: #333;
}

form button {
    border: none;
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
    color: white;
    background-color: purple;
}

input,
select {
    border-radius: 3px;
    padding: 4px;
    border: 1px solid #bbb;
    outline: none;
}

input:focus,
select:focus {
    box-shadow: 0 0 2px purple;
}
